.book-page{
  width: 842px;
  margin: 40px auto 300px;
  background: #f3f2f2;
  display: grid;
  gap: 0;
  grid-template-areas:
    "header header"
    "content content"
    "content content"
    "pagination pagination";
  grid-template-rows: auto 1fr 1fr auto;
  border: #b4b5b6 solid 1px;
  border-radius: 1%;
}

.book-content{
  grid-area: content
}

.header{
  grid-area: header;
  height: 60px;
}
.pagination-footer{
  text-align: center;
  grid-area: pagination
}

