<div class="fifthPage-content">
  <div class="main-container">
    <div class="main-header">Сериал "Шерлок"</div>
    <div class="main-text">В 2010 году выходит британский сериал «Шерлок». Главные роли исполнили Бенедикту
      Камбербэтчу и Мартину Фримену. Зрители приняли сериал, несмотря на то, что герои совсем не
      похожи на персонажей автора.
      Было выпущено тринадцать эпизодов, четыре серии из трех частей выходили в
      эфир с 2010 по 2017 год, а специальный эпизод вышел в эфир 1 января 2016 года.
    </div>
    <p class="main-text"> Действие сериала происходит в
      наши дни, в то время как одноразовый специальный выпуск представляет фантазию викторианского периода,
      напоминающую оригинальные истории о Холмсе.
    </p>
  </div>
    <div class="second-container">
      <div class="main-text">Шерлок получил высокую оценку за качество его написания, действия и режиссуры. Он был
        номинирован на множество наград, включая Эмми, BAFTA и Золотой глобус, выиграв несколько наград в различных
        категориях. Сериал выиграл в трех категориях на 66-й премии Primetime Emmy Awards, включая выдающегося ведущего
        актера в мини-сериале или фильме для Камбербэтча, выдающегося актера второго плана в мини-сериале или фильме
        для Фримена и выдающегося писателя для мини-сериала, фильма или драматического специального для Моффата.
      </div>
      <p class="main-text">
        Через два года он получил награду за выдающийся телевизионный фильм. Кроме того, сериал также был удостоен
        премии Пибоди в 2011 году. Третья серия стала самым популярным драматическим сериалом Великобритании с 2001
        года. "Шерлок" был продан на 180 территорий стран.
      </p>
    </div>
    <div class="image-container">
      <img class="image" src="../../../assets/pageImage/5image.jpg">
  </div>
</div>
