<div class="error-container">
<!--  <div class="blue-circle"></div>-->
<!--  <div class="green-shape"></div>-->
<!--  <div class="violet-circle"></div>-->
  <div class="info-error">
<!--    <div class="red-circle"></div>-->
    <div class="number-error">404</div>
    <div class=" head-error">This Page Not Found</div>
    <div class="text-error">Oops! The page you are looking for does not exist. It might have been moved or deleted.</div>
    <div class="back-button-block">
      <button class="back-button" routerLink="/book/pages/1">BACK TO HOME</button>
    </div>
  </div>
  <div class="orange-circle"></div>
</div>
