<div class="secondPage-content">
  <div class="image-container">
    <img class="image" src="./assets/secondImagePage.jpeg">
  </div>
  <div class="main-container">
    <div class="main-header">Образ Шерлока Холмса</div>
    <div class="main-text">
      В книгах о знаменитом сыщике нет точного указания его возраста, но есть упоминание о первой встрече с
      доктором Ватсоном, который отмечает про себя, что встретился в лаборатории с молодым человеком.
      Но поклонникам было недостаточно.
      Они начинают анализировать все рассказы про знаменитого сыщика с желанием уточнить его дату рождения.
      В «Долине ужаса» автор косвенно ссылается на пьесу Шекспира «Двенадцатая ночь» с привязкой к дню рождения
      Шерлока Холмса. А Натано Л. Бенгис выдвинул предположение, что детектив родился зимой, а именно 6 января.
    </div>
  </div>
  <div class="second-container">
    <div class="main-text">Фанаты сыщика стали считать его днем рождения 6 января 1854 года.
      Именно эта дата указана на сайте лондонского музея Шерлока Холмса.
      Автор делает своего персонажа весьма загадочным, его биография описана туманно.
      Он бегло знакомит читателя с его бабушкой, вскользь упоминая о том, что она сестра французского художника,
      а брат Майкрофт служит в правительстве Великобритании.
      <p class="main-text"> С образованием тоже не всё понятно, ясно что имеет диплом биохимика, и работал в лаборатории в одной их
      больниц Лондона. Так же и противоречиво мнение о внешности Шерлока Холмса.</p>
    </div>
  </div>
</div>
