<div class="fourthPage-content">
  <div class="main-container">
    <div class="main-header">Первый Шерлок Холмс в кино</div>
    <div class="main-text">Первая кинолента режиссёра Веркера, рассказывает о приключениях знаменитого сыщика,
      выходит на экраны в 1939 году. В ней идёт речь о хитроумном плане профессора Мориарти, который придумал коварный
      план по похищению драгоценной короны. Но ему не дано осуществиться, так как за дело берётся легендарный
      Шерлок Холмс, в исполнении актёра Бэзила Рэтбоун.
      </div>
  </div>
    <div class="second-container">
      <div class="secondary-header">Ленты позднее</div>
      <div class="main-text">Была ещё не одна экранизация романов Артура Конан Дойля.
        Но канонический образ сыщика и его верного друга и соратника доктора Ватсона, удалось воссоздать в 1980 году.
        Это российский сериал Игоря Масленникова «Приключения Шерлока Холмса и доктора Ватсона» снимавшийся в Советском
        Союзе начиная с 1979 года по 1986 год.
        <p class="main-text">
        В 2009 году Гай Ричи делает ещё одну экранизацию этого произведения. Но представляет весьма вольную трактовку.
        На суд зрителей вышел фильм «Игра теней». Роль детектива исполняет Роберт Дауни-младший.
        </p>
        </div>
    </div>
    <div class="image-container">
      <img class="image" src="../../../assets/pageImage/4image.jpeg">
    </div>
  </div>

