<div class="firstPage-content">
  <div class="image-container">
    <img class="image" src="../../../assets/pageImage/img_first_page.jpg">
  </div>
    <div class="main-container">
      <div class="main-header">История Шерлока Холмса</div>
      <div class="main-text">
        Ше́рлок Холмс — литературный персонаж, созданный Артуром Конаном Дойлом. Произведения Конана Дойла,
        посвящённые приключениям Шерлока Холмса, знаменитого лондонского «консультирующего» детектива,
        тали классикой детективного жанра.
        <p class="main-text"> Произведения и фильмы, снятые про истории этого знаменитого сыщика, любимы людьми разных профессий и
          возрастов. Уже много лет поклонники его творчества зачитываются его детективными романами.
        </p>
      </div>
    </div>
  <div class="second-container">
    <div class="secondary-header">Факты</div>
    <div class="main-text">| Охотничье кепи, без которого трудно представить себе Шерлока Холмса, ни словом
      не упоминается ни в одной книге Конан Дойля. Это самодеятельность иллюстратора первых изданий Сиднея Пэджета.
      <p>| Точный адрес сыщика — Лондон, Бейкер-стрит, дом 221б. Во времена Конан Дойля дома с таким адресом на улице
      не было, она заканчивалась на номере 100. Дом 221б построили позже, и сейчас там находится Музей Холмса.
      </p>

    </div>
  </div>
</div>
