<div class="thirdPage-content">
  <div class="image-container">
    <img class="image" src="../../../assets/thirdPageImage.jpg">
  </div>
  <div class="main-container">
    <div class="main-header">Друзья и враги</div>
    <div class="main-text">Шерлок обзаводится немногочисленными друзьями: Доктор Ватсон,
      хозяйка жилья на Бейкер-стрит, 221Б, миссис Хадсон, невеста доктора Ватсона Мэри Морстен, п
      олицейские Скотланд-Ярда ну и инспектор Лестрейд и многочисленными врагами. Его товарищ,
      партнёр в работе доктор Ватсон, выступил в роли его биографа. Редкое взаимопонимание и дружба помогают
      Холмсу и в жизни, и в розыске преступников. Холмс нередко советуется с Ватсоном, если ему нужно заключение
      медика. У них полное доверие.<br/>
      Если есть друзья, то имеется множество недоброжелателей и конечно врагов. Один из них — это профессор
      Мориарти. Обладатель феноменальной памяти, незаурядных математических знаний, жестокий и злой убийца,
      и такой враг очень опасен.</div>
  </div>
</div>
