.thirdPage-content {
  padding: 24px 40px 0 40px;
  display: grid;
  grid-template-areas:
    "image image"
    "main main";
}

.image {
  width: 370px;
  height: 216px;
  border-radius: 16px;
}

.image-container{
  padding-left: 212px;
}
.main-container{
  padding-top: 24px;
  padding-left: 0;
}
