.error-container{
  background: #ffffff;
  width: 1365px;
  height: 843px;
  position: absolute;
  z-index: 3;
}



.blue-circle{
  position: absolute;
  width: 124px;
  height: 131px;
  left: -40px;
  top: -40px;
  border-radius: 50%;
  background: #5FCEF1;
  z-index: 0;
}
.green-shape{
  position: absolute;
  width: 515px;
  height: 361px;
  left: 980px;
  top: 0;
  z-index: 0;
  background-image: url("../../assets/background_shape/RightWave.png")
}
.orange-circle{
  position: absolute;
  left: 0px;
  top: 718px;
  width: 52px;
  height: 52px;
  background-image: url("../../assets/background_shape/Ellipse 4.png") ;
}
.violet-circle{
  position: absolute;
  width: 124px;
  height: 131px;
  left: 1200px;
  top: 155px;
  border-radius: 50%;
  background: #8C65A5;
}
.red-circle{
  position: absolute;
  width: 168px;
  height: 154px;
  top: 220px;
  left: 535px;
  background: #F28383;
  border-radius: 50%;
  z-index: -1;
}
.head-error{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  padding-top: 10px;
}

.info-error{
  text-align: center;
  padding-top: 80px;
}
.number-error{
  padding-top: 140px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 169px;

  color: #000000;
}
.text-error{
  padding-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: #201F1F;
}

.back-button-block{
  padding-top: 60px;
}
.back-button{
  width: 295.24px;
  height: 72px;
  background: #5FCEF1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #4E1D1D;
}
