table {
  width: 80%;
  margin: 40px auto;
  border: 2px solid #2d2d2d;
}

tr.example-detail-row {
  height: 0;

}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777575;
}



.example-element-row td {
  border-bottom-width: 0;

}

.example-element-detail {
  overflow: hidden;
  display: flex;
}



.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}


.example-element-description-attribution {
  opacity: 0.5;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.expand-table {
  text-align: center;
  width: 100%;
}
.expand-table td {
  padding: 10px;
  border: 1px solid black;

}
/* границы ячеек тела таблицы */

.expand-table th {
  padding: 10px;
  border: 1px solid black;
}
